<main class="h-screen flex">
  <section class="w-full px-5 sm:px-20 flex items-center flex-col gap-10 mt-20">
    <h1 class="text-4xl font-semibold">LISTA DE TAREFAS</h1>
    <div class="w-full sm:w-[40rem] max-w-full flex gap-5">
      <input
        class="input input-bordered input-primary w-full text-lg"
        type="text"
        [(ngModel)]="newTask"
      />
      <button
        title="Adicionar"
        (click)="addTask()"
        class="btn btn-primary text-lg"
      >
        <lucide-angular name="plus" class=""></lucide-angular>
      </button>
    </div>
    <div class="w-full flex flex-col sm:w-[40rem] max-w-full items-start gap-5">
      <p class="text-xl font-medium">
        Tarefas a fazer: {{ tasksToDoCount }} de
        {{ tasksCount }}
      </p>
      <div class="w-full flex flex-col">
        @for (task of tasks; track task.id; let idx = $index, length = $count) {
        <task
          [task]="task"
          [isLast]="idx >= length - 1"
          [isFirst]="idx === 0"
          (handleRemoveTask)="removeTask(task)"
          (handleToggleIsDone)="toggleIsDone(task)"
        ></task>
        } @empty {
        <div class="w-full h-40 flex items-center justify-center flex-col">
          <lucide-angular name="list-todo" class="size-16"></lucide-angular>
          <span class="text-xl mt-5">Você não possui tarefas cadastradas</span>
        </div>
        } @if (tasks.length > 0) {
        <div class="w-full flex mt-10">
          <button (click)="clearTasks()" class="ml-auto text-base btn btn-sm">
            Limpar Tudo
            <lucide-angular name="x" class="size-5"></lucide-angular>
          </button>
        </div>
        }
      </div>
    </div>
  </section>
</main>
